h1{
    text-align: center;
    text-decoration: solid;
    font-size: 40px;
    font-weight: bold;
}

#higth-container{

    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

#bottom-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    width: 50%; 
}

#chart {
    font-size: 100%; 
    margin-top: 1%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.kpi-card
{
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    display: inline-block;
    float:left;
    padding: 1em;
    border-radius: 0.3em;
    font-family: sans-serif;
    width: 240px;
    min-width: 180px;
    margin-left: 0.5em;
    margin-top: 0.5em;
    }

.card-value {
    display: block;
    font-size: 75%;  
    font-weight: bolder;
    text-align: center;
}

.card-text {
    display:block;
    text-align: center;
    font-size: 40%;
    padding-left: 0.2em;
    size: 30 px;
    }

.green{
    background-color: rgba(148, 245, 12, 0.258) !important;
}

.blue{
    background-color: rgba(0, 0, 255, 0.296) !important;
}
.table {
    width: 50%; 
    justify-content: center; 
    margin-left: auto; 
    margin-right: auto; 
    text-align:center;
}

.table td,
.table th {
    font-size: 14px;
}

td {
    font-weight: normal;
}