{% extends "t_base.html" %}

{% block title %}Formulaire d'ajout d'un véhicule{% endblock %}
{% set styles = "static/css/style_global.css" %}

{% block content %}
<h1>{{ t_titre }}</h1>
<form method="POST">
    <div class="mb-3"style="width: 20%;">
        {{ html_formulaire.hidden_tag() }}
        {{ html_formulaire.wtf_type.label(class="form-label") }}
        {{ html_formulaire.wtf_type(class="form-control") }}
    </div>
    <br>
    <!-- Bouton de soumission -->
    <div>
        {{ html_formulaire.wtf_ajouter( class="btn btn-primary") }}
    </div>
    </div>
    {% if f_message %}
        <p>{{ f_message }}</p>
    {% endif %}
</div>
</form>
{% endblock %}