<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <title>Document</title>
  </head>
  <body>
    <H1>Formulaire d'ajouter un salarié</H1>
      <form method="POST">
          {{ html_formulaire.hidden_tag()}}
          {{ html_formulaire.wtf_nom.label }}
          {{ html_formulaire.wtf_nom() }}
          <br/>
          {{ html_formulaire.hidden_tag()}}
          {{ html_formulaire.wtf_prenom.label }}
          {{ html_formulaire.wtf_prenom() }}
          <br/>
<body>
    <select class="c_ajout_salarie" aria-label="Default select example">
        <option selected>Selectionnez le genre</option>
        <option value="1">F</option>
        <option value="2">M</option>
        <option value="3">NB</option>
      </select>
      <br/>
<body>
    {{ html_formulaire.wtf_envoyer()}}
</form>
</html>