{% extends "t_base.html" %}

{% block title %}Confirmation formulaire de saisie{% endblock %}
{% set styles = "static/css/style_confirmation_saisie.css" %}

{% block content %}
<h1 style="margin: 10px; text-align: center">{{t_message}}</h1>
<div class="response" style="text-align:center; margin-top: 10px">
<p>nom : {{t_nom}}</p>
<p>prenom : {{t_prenom}}</p>
<p>type de véhicule : {{t_type_vehicule}}</p>
<p>commentaire : {{t_commentaire}}</p>
<p>id_chauffeur : {{t_id_chauffeur}}</p>
<p>id_vehicule : {{t_id_vehicule}}</p>
<br>
<a href="/formulaire-saisie"><button type="button" class="btn btn-primary">Nouvelle saisie</button></a>
</div>
{% endblock %}