<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation formulaire de saisie</title>
</head>
<body>
    nom : {{t_reponse_formulaire.nom}}
    <br>
    prenom : {{t_reponse_formulaire.prenom}}
    <br>
    type de véhicule : {{t_reponse_formulaire.type_vehicule}}
    <br>
    nombres de kilomètres : {{t_reponse_formulaire.kilometres_fin - t_reponse_formulaire.kilometres_depart}}
    <br>
    commentaire : {{t_reponse_formulaire.commentaire}}
</body>
</html>