{% extends "t_base.html" %}

{% block title %}Mentions légales{% endblock %}

{% block content %}

<h1>Mentions légales</h1>

<h2>1. Identification de l'éditeur</h2>

    <p>L'éditeur de ce site internet est :</p>

    <ul> 
        <li>Société : Tout Roule</li> 
        <li>Forme juridique : SARL</li> 
        <li>Numéro de téléphone : 02 04 05 06 65</li>
        <li>Adresse email : ToutRoule@tr.com</li>
        <li>Siège social : 32 Av. Marcel Dassault, 37200 Tours</li>
    </ul> 

<h2>2. Hébergeur</h2>

    <p>Le site internet est hébergé par :</p>
    <ul> 
        <li>OVH.</li> 
        <li>2, rue Kellermann, 59100 Roubaix</li> 
    </ul> 


<h2>3. Conditions générales d'utilisation</h2>

    <p>L'utilisation du site internet est soumise aux conditions générales d'utilisation suivantes :</p>
        <ul> 
            <li>L'utilisateur du site internet s'engage à respecter les lois et règlements en vigueur.</li> 
            <li>L'utilisateur du site internet s'engage à ne pas diffuser de contenu illicite, injurieux, ou portant atteinte aux droits des tiers.</li> 
            <li>L'utilisateur du site internet s'engage à ne pas diffuser de contenu à caractère publicitaire ou commercial.</li>
        </ul>

    
<h2>4. Collecte et traitement des données personnelles</h2>
    
    <p>Le site internet collecte des données personnelles sur ses utilisateurs, notamment les données suivantes :</p>
    <ul> 
        <li>Nom </li> 
        <li>Prénom</li> 
        <li>Genre</li>
    </ul>

    <p>Les données personnelles sont collectées et traitées pour les finalités suivantes :</p>
    <ul> 
        <li>Gestion des véhicule de l'entreprise </li> 
        <li>Evaluer la performonce des employés</li> 
    </ul>

    <p>Les données personnelles sont conservées pendant une durée de [durée] après la dernière connexion de l'utilisateur.</p>
    <p>L'utilisateur du site internet dispose des droits suivants sur ses données personnelles :</p>
    <ul> 
        <li>Droit d'accès</li> 
        <li>Droit de rectification</li> 
        <li>Droit à l'effacement</li>
        <li>Droit à la limitation du traitement</li>
        <li>Droit à la portabilité des données</li>
        <li>Droit d'opposition</li>
    </ul>


    <p>L'utilisateur du site internet peut exercer ses droits en contactant le responsable du traitement des données personnelles à l'adresse suivante : 32 Av. Marcel Dassault, 37200 Tours</p>

<h2>5. Cookies</h2>

    <p>Le site internet utilise des cookies pour améliorer l'expérience utilisateur. Les cookies sont des fichiers texte qui sont stockés sur l'ordinateur de l'utilisateur.

    <p>Les cookies utilisés sur le site internet sont les suivants :</p>

    <ul> 
        <li>Cookies techniques : Ces cookies sont nécessaires au fonctionnement du site internet.</li> 
        <li>Cookies de performance : Ces cookies permettent de collecter des informations sur l'utilisation du site internet.</li> 
        <li>Cookies de personnalisation : Ces cookies permettent de personnaliser l'expérience utilisateur.</li>
        <li>Droit à la limitation du traitement</li>
        <li>Droit à la portabilité des données</li>
    </ul>
    <p>L'utilisateur du site internet peut refuser l'utilisation des cookies en modifiant les paramètres de son navigateur.</p>

<h2>6. Liens vers des sites tiers</h2>

    <p>Le site internet contient des liens vers des sites tiers. L'éditeur du site internet n'a aucun contrôle sur les sites tiers et ne saurait être tenu responsable de leur contenu.</p>

<h2>7. Droit applicable</h2>

    <p>Les présentes mentions légales sont soumises à la loi française.</p>

<h2>8. Contact</h2>

    <p>Pour toute question relative aux présentes mentions légales, l'utilisateur peut contacter l'éditeur du site internet à l'adresse suivante : 32 Av. Marcel Dassault, 37200 Tours</p>

<h2>9. Spécificités liées à l'application web</h2>

    <p><strong>Formulaire de collecte de données</strong></p>

    <p>Le formulaire de collecte de données est utilisé pour collecter les données suivantes :</p>

    <ul> 
        <li>Numéro de véhicule</li> 
        <li>Nom</li> 
        <li>Prénom</li>
        <li>Kilomètrage de départ</li>
        <li>Kilomètrage d'arrivé</li>
    </ul>

    <p>Les données collectées sont utilisées pour connaître le nombre de kilomètres parcourus par types de véhicule.</p>

    <p><strong>Tableau de bord</strong></p>

    <p>Le tableau de bord permet de visualiser les données collectées par le formulaire.<br/>

    Les données sont présentées sous forme de graphiques et de tableaux.</p>

    <p><strong>Sécurité des données</strong></p>

    <p>Les données collectées sont stockées sur un serveur sécurisé.<br/>

    L'accès aux données est limité aux personnes autorisées.</p>

    <p><strong>Modification des mentions légales</strong></p>

    <p>L'éditeur du site internet se réserve le droit de modifier les présentes mentions légales à tout moment.<br/>

    Les nouvelles mentions légales seront applicables dès leur publication sur le site internet.<p>


{% endblock %}
