{% extends "t_base.html" %}

{% block title %}RGPD{% endblock %}

{% block content %}
<h1>RGPD</h1>

<p>
    Le règlement général sur la protection des données (RGPD) est un règlement de l'Union européenne qui régit la collecte et le traitement des données personnelles des personnes physiques.
</p>

<p>
    L'application web ToutRoule respecte le RGPD et s'engage à protéger les données personnelles de ses utilisateurs.
</p>

<p>
    Les données personnelles collectées par l'application web ToutRoule sont les suivantes :

    <ul> 
        <li>Nom </li> 
        <li>Prénom</li> 
        <li>Genre</li>
    </ul>  
</p>

<p>
    Ces données sont collectées et traitées pour les finalités suivantes :</p>

    <ul> 
        <li>Gestion de gestion des véhicules de l'entreprise</li> 
        <li>Evaluer la performonce des employés</li>
    </ul>  

</p>

<p>
    Les données personnelles sont conservées pendant une durée de 2ans après la dernière connexion de l'utilisateur.
</p>

<p>L'utilisateur du site internet dispose des droits suivants sur ses données personnelles :    </p>

    <ul> 
        <li>Droit d'accès</li>
        <li>Droit de rectification</li> 
        <li>Droit à l'effacement</li> 
        <li>Droit à la limitation du traitement</li> 
        <li>Droit à la portabilité des données</li>
        <li>Droit d'opposition</li>
    </ul>  


<p>L'utilisateur du site internet peut exercer ses droits en contactant le responsable du traitement des données personnelles à l'adresse suivante : 32 Av. Marcel Dassault, 37200 Tours
</p>

<p>
    L'application web ToutRoule utilise des cookies pour améliorer l'expérience utilisateur. Les cookies sont des fichiers texte qui sont stockés sur l'ordinateur de l'utilisateur.
</p>

<p>
    L'utilisateur du site internet peut refuser l'utilisation des cookies en modifiant les paramètres de son navigateur.
</p>

<p>
    Pour toute question relative au RGPD, l'utilisateur peut contacter le responsable du traitement des données personnelles à l'adresse suivante : 32 Av. Marcel Dassault, 37200 Tours
</p>

<p>
    En accédant à ce site internet, vous acceptez les présentes mentions légales.
</p>
{% endblock %}