{% extends "t_base.html" %}

{% block title %}Formulaire de modification d'un salarié{% endblock %}
{% set styles ="static/css/style_global.css" %}

{% block content %}
<H1>Formulaire de modification d'un salarié</H1>
<form method="POST">
  <div class="mb-3"style="width: 20%;">
    {{ html_formulaire.hidden_tag()}}
    {{ html_formulaire.wtf_nom.label(class="form-label") }}
    {{ html_formulaire.wtf_nom(class="form-control") }}
    <br/>
    {{ html_formulaire.hidden_tag()}}
    {{ html_formulaire.wtf_prenom.label(class="form-label") }}
    {{ html_formulaire.wtf_prenom(class="form-control") }}
    <br/>
  </div>
    {{ html_formulaire.wtf_envoyer( class="btn btn-primary")}}
  </div>
</form>
{% endblock %}