{% extends "t_base.html" %}

{% block title %}Visualiser les données{% endblock %}
{% set styles = "static/css/style_error.css" %}

{% block content %}
<h1 style="text-align: center;">Visualiser les données</h1>
<h2 style="text-align: center;">Tables des chauffeurs</h2>
<table class="table table-striped table-hover table-bordered" style="width: fit-content; justify-content: center; margin-left: auto; margin-right: auto">
    <thead>
        <tr>
            <th>id_chauffeur</th>
            <th>nom</th>
            <th>prénom</th>
            <th>genre</th>
        </tr>
    </thead>
    <tbody>
        {% for num in range(t_taille_df_chauffeur) %}
        <tr>
            <td>{{ t_chauffeurs["id_chauffeur"][num] }}</td>
            <td>{{ t_chauffeurs["nom"][num] }}</td>
            <td>{{ t_chauffeurs["prenom"][num] }}</td>
            <td>{{t_chauffeurs["genre"][num]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2 style="text-align: center;">Tables des véhicules</h2>
<table class="table table-striped table-hover table-bordered" style="width: fit-content; justify-content: center; margin-left: auto; margin-right: auto">
    <thead>
        <tr>
            <th>id_vehicule</th>
            <th>type</th>
        </tr>
    </thead>
    <tbody>
        {% for num in range(t_taille_df_vehicule) %}
        <tr>
            <td>{{ t_vehicule["id_vehicule"][num] }}</td>
            <td>{{ t_vehicule["type"][num] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
